@import "../footer-about/__img/footer-about__img.css";
@import "../footer-logo/__link/footer-about__link.css";
@import "../footer-about/__text/footer-about__text.css";

.footer-about {
    list-style: none;
    width: 70%;
    margin-left: 180px;
    border-top: 1px solid #858585;
    display: flex;
    
}

.footer-about__item {
    margin: 10px;
}

.footer-about__link {
color: var(--link-color);
font-size: 14px;
}

.footer-copyright {
    margin-left: 200px;
}

.footer-copyright__text{
    color: var(--link-color);
    white-space:pre-line;
}

.footer-copyright__link{
    color: var(--link-color);
}