@import "../style/header/header.css";
@import "../style/main-container/main-container.css";
@import "../style/footer-container/footer-container.css";


/*aside*/
.list-content {
    height: 800px;
    overflow-y: scroll;

}

.navigation {
    list-style: none;
    margin-left: 180px;
    font-family: var(--font-family);

}

.navigation__item_strong {
    color: var(--link-color);
    font-size: 20px;
    margin: 15px 0;
    font-weight: 600;

}

.navigation__item {
    color: var(--link-color);
    line-height: 2.2;
    font-size: 16px;
}

.navigation__link {
    color: var(--link-color);
    text-decoration: none;
}

.navigation__item_padding_left {
    padding-left: 10px;
    line-height: 2.2;

}

/*main-content*/
.resources {
    color: white;
    font-family: var(--font-family);
    margin: 20px;

}

.resources__title {
    color: white;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;

}

.annotation__title {
    font-weight: normal;
}

.annotation__item {
    padding-left: 15px;
    line-height: 1.5;
}

/*Левое меню навигации */
.nav-content__title {
    list-style: none;
    color: var(--link-color);
    font-family: var(--font-family);
    font-size: 18px;
    margin-top: 60px;
    line-height: 2.2;
}

.nav-content__item {
    border-left: 1px solid;
}

.nav-content__link {
    font-size: 14px;
    color: var(--link-color);
    text-decoration: none;
    padding-left: 10px;
}