@import "../style/top-banner/top-banner.css";
@import "../style/sticky-container/sticky-container.css";
@import "../style/main-container/main-container.css";
@import "../style/footer-container/footer-container.css";

:root {
    --link-color: #cdcdcd;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --border:1px solid #858585;
  }
  
.link {
    color: var(--link-color);
    text-decoration: none;
}
.button {
    border: none;
}

.list {
    list-style: none;
}