.form-search__button_transparent {
    background: transparent;
    border: none; /* Хороший кандидат на вынос в класс button*/
    position: relative;
    right:40px;
}

.fa-search {
    color:var(--link-color);
}
