@import "../breadcrumbs/__item/breadcrumbs__item.css";
@import "../breadcrumbs/__link/breadcrumbs__link.css";

.breadcrumbs-container {
    background-color: #343434;
    border-bottom: 1px solid #858585; /*Этот цвет встречается несколько раз. Хороший кандидат на вынос в отдельную переменную*/
}

.breadcrumbs{
    display: flex;
    list-style: none;
    margin: 0 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
