.footer-menu {
    width: 12%;
}

.footer-menu__caption {
    color: var(--link-color);
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.footer-menu__item {
    margin: 10px 0px;
}