@import "../head/form-search/form-search.css";
@import "../head/logo/logo.css";
@import "../head/menu/menu.css";


.head {
    background-color: #1b1b1b;
    display: flex;
    border-bottom: 1px solid #858585
    
}

.head_custom-button {
color: var(--link-color);
background: transparent;
border: none;
}

.head__auth-link {
    margin-top: 25px;
    color: var(--link-color);
    font-family: var(--font-family);
}

.button-subscription {
    margin-left: 10px;
    height: 35px;
    margin-top: 18px;

}